@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
	font-family: 'FonteLogo'
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

#interface{
	height:100%; 
    width:50%;
}